root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,props,targets}]
indent_size = 2

[*.cs]
# Using directives
dotnet_sort_system_directives_first = true

# Namespace declarations
csharp_style_namespace_declarations = file_scoped:suggestion

# Readonly fields
dotnet_style_readonly_field = true:suggestion

# Modifier order
csharp_preferred_modifier_order = public,private,protected,internal,file,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,required,volatile,async:suggestion
